* {
  margin: 0;
  padding: 0;
}
.main {
  background-color: yellow;
  display: flex;
  justify-content: space-around;
}
.john,
.meike {
  display: flex;
  flex-direction: column;
}
.button {
  text-align: center;
  background-color: yellow;
  display: flex;
  justify-content: center;
}

img {
  width: 25vw;
  height: 30vw;
}

input[type="button"] {
  width: 15vw;
  height: 4vw;
  background-color: greenyellow;
  font-size: 20px;
}
h2 {
  width: 10vw;
  color: red;
  margin: 0 12vw;
}
